
/* Variables */
:root {
	--blue: #3a82ee;
	--white: rgb(255, 255, 255);
	--grey: #888;
	--dark: #313154;
	--red: #ff5b57;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End of Variables */

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
        
}


body{
    background-image: url("/pictures/roomates.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.box{
    gap: 40px;
    width: 100%;
    padding: 0 16px;
    margin-top: 70px;
    // background-color: var(--white);
    
}


.header{
    margin: 0%;
    min-height: 80px;
    background: var(--white);
    // border: 3px solid var(--dark);
   
    &__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        
        &__logo{
        height: 80px;
        margin-right: 20px;
        
        }

        &__a{

            color: var(--dark);
            text-decoration: none;
            padding: 31px
        }
        
        &__a:hover{
            color: var(--white);
            background: var(--blue);
            // text-decoration: underline;

            
        }
    }
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.boxMain{
    
    min-height: 300px;
    // background: var(--white);
    position: relative;

    &__container{
        max-width: 1200px;
        justify-content: space-between;     
        max-height: 300px;
        min-height: inherit;
        padding: 32px;
        color: var(--blue);
        display: flex;
        margin: auto;
        left: 50%;
        cursor: pointer;;


        &__boxes{
            width: 30%;
            background: var(--white);
            text-align: center;
            padding: 16px;
            box-shadow: 9px 8px 15px 8px var(--dark); 
            box-shadow: 9px 8px 15px 8px var(--dark);
            z-index: 99;    
            
            

            &__img{
                width: 80px;
                height: 80px;
            }
        }
    }
}

p{
    margin: 0;

}

.halfBlue{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    // background:var(--blue);
}

.btnDiv{
    display: flex;
    margin: 30px;

    &__btn{
        height: 50px;
        width: 300px;
        margin:auto;
        border: none;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 6px;
        background-color: var(--blue);
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

.profilBtn{
    border: 2px var(--blue) solid;
    padding: 1px;

}

.ditail{
    width: 1400px;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: tranlate(-50%, -50%);
    text-align: left;
    padding: 0 30px 30px;
    font-size: 30px;
    // margin-left: 40px;
    min-height: 700px;
    z-index: 99;    

    &__box{
        max-width: 1300px;
        max-height: 10px;
        min-height: inherit;
        padding: 32px;
        color: var(--dark);
        
        align-items: center;
        width: 50%;
        background: var(--white);
        text-align: left;
        padding-left: 84px;
        box-shadow: 9px 8px 15px 8px var(--blue); 
        box-shadow: 9px 8px 15px 8px var(--blue);
        z-index: 99;        
        
        
        &__containerBtn{
            position: absolute;
            display: inline-block;
            justify-content: space-between;

            &__btn{
                // height: 50px;
                // width: 300px;
                // margin:auto;
                border: none;
                color: #fff;
                font-size: 30px;
                font-weight: 500;
                letter-spacing: 1px;
                border-radius: 6px;
                background-color: var(--blue);
                cursor: pointer;
                transition: all 0.3s ease;
            }
        }

        &__img{
            align-items: center;
            width: 150px;
            height: 150px;
            
            }

        }
    }

    .apartmentImage{
        align-items: center;
        width: 500px;
        height: 500px;

    }