/* Variables */
:root {
	--blue: #3a82ee;
	--white: #EEE;
	--grey: #888;
	--dark: #313154;
	--red: #ff5b57;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End of Variables */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: georgia;
}

.box{
    width: 100%;
    padding: 0 16px;

}

.header{
    min-height: 80px;
    background: var(--white);
   
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__logo{
            padding-top: 5px;
        }

        &__a{
            color: var(--dark);
            text-decoration: none;
            padding: 0 12px;
        }
        
        &__a:hover{
            color: var(--white);
            background: var(--blue);
            text-decoration: underline;

            
        }
    }
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}


.boxMain{
    
    min-height: 300px;
    background: var(--white);
    position: relative;

    &__container{
        max-width: 1200px;
        justify-content: space-between;     
        max-height: 300px;
        min-height: inherit;
        padding: 32px;
        color: var(--blue);
        display: flex;
        margin: auto;
        left: 50%;
        cursor: pointer;;

        &__boxes{
            width: 30%;
            background: var(--white);
            text-align: center;
            padding: 16px;
            box-shadow: 9px 8px 15px 8px var(--dark); 
            box-shadow: 9px 8px 15px 8px var(--dark);
            z-index: 99;        

            &__img{
                width: 80px;
                height: 80px;
            }
        }
    }
}

p{
    margin: 0;

}

.halfBlue{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:var(--blue);
}

.btnDiv{
    display: flex;

    &__btn{
        font-family:Georgia, serif;
        font-size:20px;
        font-style:italic;
        font-weight:bold;
        text-indent:12px;
        line-height:13px;
        color: var(--blue);
        border-width:9px;
        border-color: var(--grey);
        border-style:outset;
        border-radius:8px;
        background-color:var(--white);
        padding:9px;
        margin: auto;
        left: 50%;
    }
}

.profilBtn{
    border: 2px var(--blue) solid;
    padding: 1px;

}

.ditail{
    font-family: georgia;
    font-size: 30px;
    margin-top: 40px;
    min-height: 650px;
    background: var(--white);

    &__box{
        max-width: 1200px;
        max-height: 10px;
        min-height: inherit;
        padding: 32px;
        color: var(--dark);
        margin: auto;
        left: 50%;

        width: 40%;
        background: var(--white);
        text-align: center;
        padding: 16px;
        box-shadow: 9px 8px 15px 8px var(--blue); 
        box-shadow: 9px 8px 15px 8px var(--blue);
        z-index: 99;        
        
        &__img{
            width: 150px;
            height: 150px;
            
            }

        }
    }

